*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.darkmode{
    background-color: var(--bg-dark);
    color: var(--input-bg);
}

.lightmode{
    background-color: var(--text-secondary);
    color: var(--bg-dark);
}

button:hover{
    box-shadow: 0 3px 6px var(--mindful);
}

/*custom variables*/
:root{
    --primary: #3b82f6;
    --success: #10b981;
    --mindful: #8b5cf6;
    --danger: #ef4444;
    --text-primary: #1f2937;
    --text-secondary: #6b7280;
    --bg-light: #f3f4f6;
    --bg-dark: #0f1111;
    --input-bg: #fff;
    --input-border: #d1d5db;
    --shadow-sm: 0 1px 2px rgba(0,0,0,0.05);
    --shadow-md: 0 4px 6px rgba(0,0,0,0.1);
    --font-family:'Inter',system-ui ,-apple-system ,sans-serif;
}

@media (prefer-color-scheme: dark){
    :root{
        --text-primary: #f3f4f6;
        --text-secondary:#9ca3af;
        --bg-light: #1f2937;
        --bg-dark: #111827;
        --input-bg: #374151;
        --input-border: #4b5563;
    }
}

.visible{
    display: grid;
    place-content: center;
}

body{
    font-family: var(--font-family);
    background-color: var(--bg-dark);
    color: var(--bg-light);
}

a{
    color: #007185;
    font-weight: 600;
    font-style: italic;
}

header{
    position: fixed;
    top: 0;
    width: 100vw;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 0.4rem;
    font-size: 0.75rem;
    z-index: 1;
}

main{
    overflow: hidden;
}

nav{
    display: flex;
    align-items: center;
    cursor:pointer ;
}
.nav_logo{
    height: 30px;
    width: 60px;
}

.logo{
    background-image: url(/images/amazon_logo.png);
    background-size: cover;
    background-color: #111827;
    height: 95%;
    width: 100%;
    display: grid;
    place-content: center;
    border-radius: 0.4rem;
}

@media(min-width: 450px){
    nav{
        justify-content: space-evenly;
    }
}

@media (min-width: 800px){
    nav{
        justify-content: space-around;
    }

    .navbar{
        gap: 1.2rem;
        justify-content: space-evenly;
    }
    .nav_logo{
        height: 2.3rem;
        width: 5rem;
    }
}

.border{
    border: 2px solid transparent;
}

.border:hover{
    border: 2px solid whitesmoke;
}

/**addressbar**/
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.nav_address{
    display: none;  /*hidden address*/
    height: 2rem;
    width: 70px;
}

.country-name{
    display: flex;
}

.address{
    width: max-content;
    font-size: 0.75rem;
    color: #cccccc;
}

.country{
    margin-left: 0.2rem;
    font-size: 0.75rem;
    font-weight: 700;
}

@media (min-width: 600px){
    .nav_address{
        display: grid;
        place-content: center;
    }
}

/**search bar**/
.nav_search{
    height: 1.4rem;
    width: 85%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 0.2rem;
}

#items{
    width: 2.2rem;
    height: 2rem;
    font-size: 0.65rem;
    text-align: center;
    border-top-left-radius: 0.2rem;
    border-bottom-left-radius: 0.2rem;
}

.search{
    padding: 0.4rem;
    height: 2rem;
    width: 100%;
}

.searchicon{
    height: 2rem;
    width: 45px;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(211, 128, 26);
    border-top-right-radius: 0.2rem;
    border-bottom-right-radius: 0.2rem;
}

@media (min-width: 600px){
    .nav_search{
        height: 2.3rem;
        width: 50vw;
    }

    .search{
        width: 100%;
    }
}

/**language selection*/
.nav_language{
    width: auto;
    height: 2rem;
    font-size: 0.65rem;
    display: none;
}

.nav_language select{
    font-size: 0.65rem;
    width: 35px;
}

@media (min-width: 600px){
    .nav_language{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0.2rem;
    }
}
/**account**/

.nav_account{
    height: 2rem;
    width: 100px;
    display: none;
}

.signup{
    font-size: 0.65rem;
    color: #cccccc;
}

.signin{
    font-size: 0.5rem;
    font-weight: 700;
}

@media (min-width: 600px){
    .nav_account{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0.4rem;
        width: 7rem;
    }

    .signup ,.signin{
        font-size: 0.75rem;
    }
}

/**orders**/

.nav_orders{
    display: none;
    height: 2rem;
    width: 80px;
}

.returns{
    font-size: 0.65rem;
}

.orders{
    font-size: 0.5rem;
    font-weight: 700;
    width: 40px;
}

@media (min-width: 600px){
    .nav_orders{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0.5rem;
    }

    .returns , .orders{
        font-size: 0.75rem;
        width: 7rem;
    }
}

/**cart**/

.nav_cart{
    height: 2rem;
    width: 30px;;
    display: flex;
    flex-direction: column;
}

/**pannel**/

.pannel{
    height: 30px;
    width: 100%;
    background-color: #232f3e;
    color: #ffffff;
    display: flex;
    align-items: center;
    font-size: 0.65rem;
}

.pannel select{
    width: 35px;
}

.list{
    color: #ffffff;
    display: flex;
    justify-content: space-evenly;
    gap: 0.2rem;
    list-style-type: none;
    align-items: center;
}

.list li{
    font-size: 0.60rem;
    cursor:pointer ;
}

@media (min-width: 600px){
    .pannel{
        padding-left: 1.5rem;
    }
    .pannel select{
        font-size: 1rem;
        width: 3.5rem;
    }
    .list li{
        font-size: 1rem;
    }
}

/**hero section*/
.hero-carousel {
    position: relative;
    width: 100%;
    max-width: 800px;
    height: 350px;
    margin: auto;
    overflow: hidden;
  }
  
  #carousel-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }
  
  #prev-btn, #next-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 30px;
    background-color: rgba(0,0,0,0.5);
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px;
    z-index: 1;
  }
  
  #prev-btn { left: 10px; }
  #next-btn { right: 10px; }
  

.herosection{
    margin-top: 4.2rem;
    height: 25vh;
    width: 99vw;
    background-image: url(/images/hero.jpg);
    background-size: cover;
    display:flex;
    justify-content: center;
    align-items: end;
}

.note{
    width: 90%;
    height: 2.5rem;
    font-size: 0.57rem;
    padding: 0.2rem;
    display: flex;
    flex-direction: column;
    background-color: #ccc;
    color: #0f1111;
    justify-content: center;
    align-items:center;
    margin-bottom: 27px;
}

.boxsection{
    height: auto;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    padding-top: 1rem;
    gap: 1rem;
}

.box{
    height: 400px;
    width: 290px;
    background-color: #232f3e;
    border-radius: 0.5rem;
    display: flex;
    flex-wrap: wrap;
}

.box h2{
    grid-area: head;
}

.subbox{
    grid-area: subbox;
    height: 120px;
    width: 120px;
    border: 1px solid #6b7280;
    border-radius: 0.5rem;
    margin: 10px;
    display: flex;
    align-items: flex-end;
    font-size: 0.7rem;
    padding: 0.5rem;
    position: relative;
}

.subbox:hover{
    box-shadow: 0 3px 6px var(--mindful);
}

.subbox img{
    width: 118px;
    height: 120px;
    position: absolute;
    left: 0;
    object-fit: contain;
}

.box p{
    color: #007185;
    font-weight: 600;
    font-style: italic;
    cursor:pointer ;
}

h2{
    margin-left: 12px;
    color: azure;
    font-size: 1.33rem;
    margin-top: 10px;
}

@media (min-width: 600px){
    .herosection{
        height: 40vh;
    }

    .note{
        display: flex;
        flex-direction: row;
        font-size: 0.75rem;
    }

    .box{
        font-size: 0.85rem;
    }

    .box p{
        font-size: 1rem;
    }
}

@media (min-width: 900px){
    .note{
        font-size: 1rem;
    }
}

p{
    margin-left: 12px;
    font-size: 0.85rem;
    margin-bottom: 5px;
    color: var(--primary);

}

/**request account login*/
.logincontainer{
    height: 7rem;
    border-radius: 0.4rem;
    cursor:pointer ;
}

.requestlogin{
    height: 18vh;
    width: 100%;
    margin-top: 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    border: 0.1rem solid #cccccc;
}

.signin_button{
    height: 2rem;
    width: 9rem;
    color: #0f1111;
    background-color: rgb(211, 128, 26);
    border-radius: 0.5rem;
    margin-left: 1.6rem;
    font-size: 0.85rem;
    font-weight: 700;
}

span{
    display: flex;
    font-size: 0.65rem;
}

h5{
    color: #ffffff;
    font-size: 0.75rem;
}

#buttomText{
    font-size: 0.95rem;
    font-weight: 700;
    color: #fff;
}

@media(min-width: 600px){
    main{
        padding: 1rem 0;
    }
    .logincontainer{
        height: 7rem;
    }
    .signin_button{
        height: 2.5rem;
        width: 12rem;
        font-size: 1rem;
    }
    .logincontainer span{
        font-size: 1rem;
    }

    .logincontainer h5{
        font-size: 1rem;
    }

    .logincontainer p{
        font-size: 1rem;
    }

    #buttomText{
        font-size: 1.5rem;
        font-weight: 700;
        color: #fff;
    }
}

/**back to top**/
.back2top{
    height: 7vh;
    width: 100%;
    background-color: #232f3e;
    font-size: 0.9rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    scroll-behavior: smooth;
}

@media(min-width){
    .back2top{
        font-size: 1.2rem;
    }
}

/**navigation links*/
.nav_links{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.boxes{
    margin: 1.5rem;
}

li{
    list-style-type: none;
    margin: 0.5rem;
    margin-left: 0.7rem;
    font-size: 0.65rem;
}
.link_text{
    font-size: 0.75rem;
}

@media(min-width:600px){
    .nav_links{
        grid-template-columns: repeat(4,1fr);
    }

    li{
        font-size: 0.85rem;
    }
}

@media(min-width:900px){
    .link_text{
        font-size: 1.2rem;
    }

    li{
        font-size: 1rem;
    }
}

/*amazon-section*/
.amazon{
    height: 3rem;
    width: 100vw;
    background-color: #232f3e;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 0.5rem;
    cursor:pointer ;
}
.section{
    height: 1.8rem;
    width: 4.8rem;
    font-size: 0.65rem;
    border: 1px solid #cccccc;
    background-color: #4b5563;
    border-radius: 0.4rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

@media(min-width: 600px){
    .section{
        width: 9rem;
        font-size: 1rem;
    }
}

/*footer copyright section*/

.contain{
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor:pointer ;
}

@media(min-width:600px){
    .contain li{
        font-size: 0.95rem;
    }
    .copyright{
        font-size: 1.2rem;
    }
}

footer p{
    padding: 0.5rem;
    text-align: center;
    border-top: 2px solid #007185;
    color: var(--success);
    background-color: #232f3e;
    cursor:pointer ;
}




